NODE_URL=http://api-xym-harvest-3-01.us-west-2.nemtech.network:3000
GENERATION_HASH=45870419226A7E51D61D94AD728231EDC6C9B3086EF9255A8421A4F26870456A
NETWORK_TYPE=testnet
DATABASE_URL=mongodb://localhost
DATABASE_NAME=pacificNem
ACCOUNT_ADDRESS=
ACCOUNT_KEY=
MOSAIC_IDENTIFIER=
CURRENCY_IDENTIFIER=51A99028058245A8
IGNORED_HOLDERS=
MINIMUM_SHARE=10000000000
APPLICATION_PORT=5000
